@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Poppins:wght@400;500;700&family=Yeseva+One&display=swap');

.banner {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0); /* Transparence au départ */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transition pour un effet fluide */
    z-index: 1000;
}

/* Styles existants pour le contenu */
.navbar {
    display: flex;
    gap: 20px;
}

.nav-link {
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.banner-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.language-selector {
    display: flex;
    gap: 10px;
    padding-right: 40px;
}

.language-selector button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.language-selector button:hover {
    text-decoration: underline;
}

.download-button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    background: none;
    padding: 5px 10px;
    border: solid #FFF34B 3px;
    color: #FFFFFF;
}

.download-button:hover{
    background-color: #FFF34B;
    cursor: pointer;
    color: #00093E;
}
