@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Poppins:wght@400;500;700&family=Yeseva+One&display=swap');

/* Styles généraux pour la page d'accueil */
.home {
    font-family: 'Poppins', sans-serif;
    background-color: #00093E;
    height: fit-content;
}

.presentation {
    display: flex;
    justify-content: center;
}

.presentation-container {
    height: 100%;
    width: 90%;
    align-content: center;
}


.nom,
.titre {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    font-weight: 500;
    color: #FFFFFF;
}

.nom {
    margin-top: 8%;
}

.titre {
    margin-top: 3%;
}

.animated-text-container {
    margin-top: -15px;
    width: 100%;
    /* Ajuste la largeur pour prendre tout l’espace disponible */
    height: 3em;
    display: flex;
}

.animated-text {
    display: inline-block;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 500;
    font-size: 2.3em;
    color: #FFF34B;
    border-right: 2px solid #FFF34B;
    animation: blink-cursor 0.7s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    /* Retrait de tout padding pour éviter un espacement */
    margin: 0;
    /* Assure une cohérence visuelle */
}

.intitule {
    padding-left: 1%;
    font-family: 'Yeseva One', serif;
    color: #FFF34B;
    font-size: 1em;
}

.presentation-description {
    margin-top: 4%;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    border: solid #FFF34B 5px;
    color: #FFFFFF;
    padding-block: 20px;
    padding-inline: 40px;
}


/* Animation pour le curseur clignotant */
@keyframes blink-cursor {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: #FFF34B;
    }
}

.loisirs,
.projets,
.experiences,
.formations,
.competences {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.competences {
    margin-top: 5%;
}


.loisirs-container,
.projets-container,
.experiences-container,
.formations-container,
.competences-container {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* Aligne le titre et les catégories verticalement */
    align-items: flex-start;
    /* Aligne tout à gauche */
}


.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Trois colonnes égales */
    gap: 2.5%;
    /* Espace entre chaque compétence */
    width: 100%;
}

h2 {
    font-family: 'Share Tech Mono', monospace;
    color: #FFF34B;
    font-size: 1.7em;
    margin-bottom: 20px;
    /* Ajoute de l'espace sous le h2 */
}


.categories {
    width: 100%;
    /* Prend toute la largeur */
    display: flex;
    flex-wrap: wrap;
    /* Permet aux catégories de se répartir sur plusieurs lignes */
    gap: 10px;
    /* Espace entre les boutons */
    margin-bottom: 20px;
}

.category-button {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    background: none;
    padding: 5px 30px;
    border: solid #FFF34B 3px;
    color: #FFFFFF;
    cursor: pointer;
    flex: 1 1 calc(20% - 10px);
    /*prends 20% de la ligne */
    min-width: 120px;
    /* Largeur minimale  */
    text-align: center;
}

.category-button:hover,
.category-button.active {
    background-color: #FFF34B;
    color: #00093E;
}

.skills-list {
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Trois colonnes égales */
    gap: 10px;
    /* Espace entre chaque compétence */
    width: 100%;
    /* Assure que le conteneur prend toute la largeur */
}

.skill {
    display: flex;
    flex-direction: column;
    /* Arrange les éléments verticalement */
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    background-color: #1B255B;
    color: #FFF34B;
}


.skill-header {
    display: flex;
    justify-content: space-between; /* Espace entre le nom et le niveau */
    width: 100%;
}

.skill h3,
.skill p {
    margin: 0;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}

.skill-w-level,
.skill-simple {
    grid-column: span 1;
    /* Chaque compétence standard occupe un tiers de la ligne */
}

.skill-w-liste {
    grid-column: span 3;
    /* Les compétences avec une liste occupent la moitié de la ligne */
}

.skill-simple {
    display: flex;
    justify-content: center;
    align-items: center;
}

.liste-skill {
    text-indent: 2em;
}

/* Barre de progression */
.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #00093E;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

.progress-fill {
    height: 100%;
    background-color: #FFF34B;
}

.details-button {
    margin-top: 1.5%;
    margin-bottom: 0;
    font-size: 1rem;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 500;
    color: #FFF34B;
    align-self: flex-start;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.details-button:hover {
    text-decoration: underline;
}


.experience,
.formation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 83%;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #1B255B;
}

.item-title {
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: 450;
}

.experience p,
.formation p {
    margin-top: 0;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 500;
    color: #FFF34B;
    font-size: 0.9em;
}

.experience ul li {
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
    text-indent: 0%;
    color: #FFFFFF;

}

.experience ul {
    margin-top: 0.5%;
    list-style-position: inside;
    /* Place les puces à l'intérieur des bordures de la liste */
    padding-left: 0;
    /* Supprime l'indentation par défaut */
    margin-left: 0;
    /* Supprime la marge par défaut */
}

.plus-button {
    align-self: flex-end;
    margin-top: auto;
    /* Pousse le bouton vers le bas */
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: #00093E;
    font-weight: 600;
    background-color: #FFF34B;
    border: #FFF34B;
    border-radius: 50%;
    padding: 0px;
    text-decoration: none;
    padding-block: 1%;
    padding-inline: 4%;
}

.plus-button:hover {
    color: #00093E;
    background-color: #FFFFFF;
    border: #FFFFFF;
    cursor: pointer;
}


.projet {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 4 colonnes de largeur égale */
    gap: 20px;
    /* Espace entre les projets */
}

.projet-content {
    border: solid #FFF34B 3px;
    padding-inline: 5%;
    display: grid;
    grid-template-rows:  auto;
    transition: transform 0.2s ease;
}

.projet-content:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #1B255B;
}

.projet-content h3{
    margin-top: 2%;
    margin-bottom: 0%;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
}

.projet-content p{
    margin-top: 4%;
    margin-left: -2%;
    margin-bottom: 0%;
    background-color: #1B255B;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 0.8em;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 15px;
    max-width: fit-content;
    max-height: fit-content;
}

.projet-content .liste-technos{
    margin-top: 2%;
    margin-left: -2.5%;
    margin-bottom: 5%;
}

.projet-content .liste-technos p{
    margin-inline: 1.25%;
    background-color: #FFF34B;
    color: #00093E;
    border-radius: 18px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 0.7em;
}

.loisir{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Trois colonnes égales */
    gap: 3%;
    width: 100%;
}

.loisir-content{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 350;
    color: #FFFFFF;
    font-size: 0.8em;
    background-color: #1B255B;
    border-radius: 20px;
    margin-bottom: 3%;
}

